<nav class="navbar navbar-inverse" ng-click="changeColor()">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#" class="">HOME</a></li>
            <li><a href="#/sumaria">Al Sumaria</a></li>
            <li><a href="#/assyrian">Al Assyrian</a></li>
            <li><a href="#/babylonian">Babylonian</a></li>
            <li><a href="#/islamic">Islamic</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" action="index.php" method="get">
                <div class="form-group">
                    <input id="terme" name="terme" placeholder="Search" class="form-control input-xs" type="search">
                    <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </form>
        </div>
    </div>
</nav>
